@if (Model.Messages.ErrorMessages.Count > 0)
{

    @foreach (var msg in Model.Messages.ErrorMessages)
    {
        <br />
        <div class="alert alert-danger" role="alert">
            @msg

        </div>
    }
}
@if (Model.Messages.SuccessMessages.Count > 0)
{

    @foreach (var msg in Model.Messages.SuccessMessages)
    {
        <div>
            <div class="alert alert-success" role="alert">
                @msg
            </div>
        </div>
    }
}